<!DOCTYPE html>
<html class = "dashboard-html">
	<head> 

	</head>
	<body>
		<div class = "header">
			<%= render "layouts/header" %>
		</div>
		<div id="leftCol">
			<div class = "channel-form-container">
				<div class = "channel-form">
					<%= form_for(:channel,url:create_channel_path) do |f| %>
					  <%= f.submit "+",:class => 'plus-button' %>
					  <%= f.text_field :name, class: 'channel-textfield', :placeholder => "Create Channel" %>
					<% end %>
				</div>
			</div>
			<div class = "channel-card-container">
				<% current_user.channels.each do |channel| %>
					<div class = "channel-card-wrapper"
					<% if @selected_channel && channel.name.upcase == @selected_channel.upcase %>
						<%= button_to channel.name.upcase, {:action => "get_gif_for_channel", :channel=> channel.name, :remote => true},{:class => "channel-card", :id => "selected-channel"}%>
					<%else%>
						<%= button_to channel.name.upcase, {:action => "get_gif_for_channel", :channel=> channel.name, :remote => true},{:class => "channel-card"}%>
					<%end%>
					<%= button_to "X",{:action => "get_gif_for_channel", :channel=> channel.name, :remote => true},{:class => "delete-button", :id => "delete-channel"} %>
					</div>
					
				<% end %>
			</div>

		</div> 
        <div id="content"> 
        	<div class = "center-content">
        		<% if @gif.nil? %>
        			<video height="300" width="100%" autoplay="" loop="" muted="" class = "video-frame">
						<source type="video/mp4" src="http://i.imgur.com/eHAlXli.mp4">
					</video>
				<%else%>
					<% if @gif.title %>
						<h1 class = "gif-title"> <%= @gif.title %> </h1>
					<%end%>
					<video height="250" width="100%" autoplay="" loop="" muted="" class = "video-frame">
						<source type="video/mp4" src= <%= @gif.mp4 %> >
					</video>

				<%end%>

				<div class = "button-container">
					<%= button_to "NO", {:action => "get_gif_for_channel", :channel=> @selected_channel, :remote => true},{:class => "response-button", :id => "NO"}%>
					<%= button_to "YES", {:action => "save_gif",:channel=> @selected_channel, :gif=> {:url=>@gif.url,:mp4=>@gif.mp4,:title=>@gif.title,:description=>@gif.description}, :remote => true},{:class => "response-button", :id => "YES"}%>
        		</div>

        		<div class = "gif-info-container">
        			<div id ="gif-info-content">
        			<h3> Why was this Chosen? </h3>
        			<p> Our proprietary preference selection algorithm selected this gif based on traits that best optimize for your interests,personality, previous selections, and insecurities. Just watch the video and stop asking stupid questions. 
        			</p>
        			<% if @gif %>
        					<p> <%=@gif.url %> </p>
        			<% end %>
        			</div>
        			
        		</div>


        		<p class = "copyright">© 2015 Kabush Media, Inc., All Rights Reserved  </p>
				<p class = "copyright">Kaboosh and the GIF Genome Project are registered trademarks of Kaboosh Media, Inc.</p>

        	</div>  
        	

             
    	</div>
		
	</body>
</html>