/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */
 /*********************************
NAVIGATION BAR
*********************************/

@font-face {
  font-family: DIN;
  src: 
    url(DIN.ttf)
 }

nav {
   position: absolute;
   top: 0px;
   float:top;
   max-width: 100%;
   width:100%;
   height:90px;
   background-color:transparent;

}

nav .left-nav {
	list-style: none;
	float:left;
	display:block;
	height:100%;
	

}
#kabush-logo {
	float:left;
	height:35px;
	width:35px;
	vertical-align: center;
	margin-top: 25px;
	margin-left:25px;
	background-size: 100%;
}

nav .right-nav {
  float:right;
  list-style: none;
  margin-right:10px;
  margin-top:30px;
  padding-bottom:0px;
  padding-right:10px;

}

nav .right-nav li {
  display: inline-block; /* allows list items to be in blocks in a row */
  color:rgba(255, 255, 255, 0.50);
  margin-bottom:30px;

}

.profile-picture-nav{
  height:50px;
  width:50px;
  border-radius:25px;
  margin-top:-15px;
}

nav .right-nav a, nav .right-nav a:visited {
	color:rgba(255, 255, 255, 0.50);
	padding: 2px 10px;

	text-align: right;
	text-decoration: none;
	font-weight:500;

  
}

nav .right-nav a:hover {
	font-weight:500;
	color:white;


}

.enter-button {
	margin-right:60px;
    display: inline-block;
    padding: 0.5em;
    margin-top:0px;
    background-color: transparent;
    text-decoration: none;
    text-align:center;
    color: $special-white;
    border:$special-white;
    border-style: solid;
    border-width: 1px;
    width:100px;
    font-weight:600;
}

.enter-button:hover {
  color: white;
  border-color: rgba(255, 255, 255, 0.50);
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
}

/********** SIGN UP ******************/
#sign_up_form {
  padding-top:40px;
  background-color: #222429;
  height:100%;
  width:700px;
  display:inline-block;

}

.join_us {
  color:#E04186;
  font-size: 30px;
  font-family:DIN;
}

.sign_in_header {
  color:#3DAABD;
  font-size: 30px;
  font-family:DIN;
}

.signup_form {

  width:40%;
  height:325px;
  float:right;
  display:table-cell;
  vertical-align:middle;
  margin-right:40px;

}

.signin_form {
  height:325px;
  width:40%;
  float:left;
  display:table-cell;
  vertical-align:middle;
  margin-left:40px;
  
  
}

.form-control, .signin-form-control {
    width:100%;
    height:40px;
    font-size:17px;
    margin-top: 5px;
    margin-bottom:5px;
    background-color:transparent;
    border-style: none;
    border-bottom: 3px solid #D8D8D8;
    color:white;
    font-family:DIN;
  }

.form-control:focus {
  outline: none;
  border-style: none;
  border-bottom: 3px solid #E04186;
  color:white;
}

.signin-form-control:focus {
  outline: none;
  border-style: none;
  border-bottom: 3px solid #3DAABD;
  color:white;
}

.signup_button, .signin_button {
  width: 100%;
  height:40px;
  border-style:none;
  margin-top:15px;
  font-size: 25px;
  font-family:DIN;
  background-color:transparent;
  border: 1px solid #D8D8D8;

}

.signup_button:hover {
  background-color:#E04186;
}

.signin_button:hover {
  background-color:#3DAABD;
}



/****** OVERRIDING PLACEHOLDER TEXT COLOR *****/

*::-webkit-input-placeholder {
    color: #393C44;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #393C44;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #393C44;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #393C44;
}

/******* Error Messages       *********/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.alert {
  background-color:rgba(255,0,0,0.6);
  text-align:center;
  color:white;
  z-index: 20;
}


/**************     Profile     **************/

.profile-picture{
  height:80px;
  width: 80px;
  border-radius:40px;
  margin-left:75px;
  margin-top:25px;
}

.profile-info ul {
  list-style: none;
  color:#979797;
  margin-top:50px;
}

.profile-info li {
  margin-bottom:20px;
  margin-left:-25px;
}

#logout {
  position: absolute;
  bottom: 0;
  width:100%;
  height:65px;
  font-size: 30px;
}

.video-content {
  width:100%;
  display:inline-block;
  padding-top:15px;
  overflow:hidden;
  height:100%;
}

.video-frame-profile {
  background-color:black;
  padding-top:20px;
  padding-bottom:20px;
  width:45%;
  margin-left:50px;
  margin-bottom:10px;

}



.delete-video-button {
    background-color: transparent;
    height:70px;
    width:20px;
    border-style: none;
    font-family: DIN;
    color:white;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    display: block; 
    z-index: 3;
    float:left;
    margin-left:10px;
    margin-top:-10px;
    display:none;
}

.video-frame-profile:hover .delete-video-button {
  display:block;

}

.video-frame-profile-right:hover .delete-video-button {
  display:block;

}

.video-frame-profile-right {
  background-color:black;
   padding-bottom:20px;
   width:45%;
   padding-top:20px;
   margin:0;
   margin-top:-285px;
   float:right;
   margin-right:50px;
   margin-bottom:10px;

}

.gif-title-profile {
    color:white;
    font-family: 'DIN';
    text-align: center;
    background-color: black;
    margin:0;
    width:45%;
    padding-top:20px;
}

/****** Pagination ******/

.pagination {
  margin-top:35px;
  margin-bottom:15px;
  width:100%;
  text-align:center;
}

.pagination a, .pagination a:visited, .pagination .disabled {
  text-decoration: none;
  color:#3DAABD;
}

.pagination a:hover, .pagination .current{
  color:#E04186;
}

/******* Media Query     *********/
@media screen and (max-width:640px) {


  #sign_up_form {
    padding-top:0px;
    height:100%;
    width:600px;
    display:block;

  }

  .join_us, .sign_in_header {
    width:50%;
    margin-left:10%;
    display:block;
    margin-top:0px;
  }


  .signup_form {

    float:none;
    display:table-cell;
    vertical-align:middle;
    width:50%;
    margin-left:5%;

  }

  .form-control, .signin-form-control {
      width:50%;
      margin-left:10%;
    }



  .signup_button, .signin_button {
    width: 50%;
    margin-left:10%;
    height:40px;

  }

  .signin_form {
    width:40%;
    float:none;
    margin-right:40px;
    
  }
}


