// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: DIN;
  src: 
    url(DIN.ttf)
 }

$special-grey: rgba(57, 60, 68, 0.85); /*rgba(55, 82, 98, 0.75);*/
$darker-grey: #222429;

$light-gray: rgba(207,207,207,1);
$special-blue: #1253A4;
$teal: #3DAABD;
$special-pink: #E04186;

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", sans-serif;
    background: white;

}

.dashboard-html {
  background-color:$darker-grey;
}

.header {
    position: absolute;
    top: 0px;
    background: $special-grey;
    width:100%;
	 height:100%;

}
.header-content {
    color:white;
    max-width: 100%;
    width:100%;
    margin-top:20%;
    left: 50%;

    h2 {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        font-size:16px;
        font-weight: 100;
        padding-top:0px;
        width: 50%;
    }


}

#full-kabush-logo {
  height:80px;
  width:400px;
  background: url('KabushFull.png') no-repeat center;
  background-color:transparent;
  vertical-align: center;
  margin-top: 25px;
  margin-left:25px;
  background-size: 100%;
  margin-left:auto;
  margin-right:auto;

    }

.enter-button {
    display: inline-block;
    padding: 1em;
    margin-top:20px;
    background-color: transparent;
    text-decoration: none;
    text-align:center;
    color: rgba(255, 255, 255, 0.50);
    border:rgba(255, 255, 255, 0.50);
    border-style: solid;
    border-width: 1px;
    width:15%;
    margin-left: 42%;
    a, a:visited {
      color: rgba(255, 255, 255, 0.50);
      text-decoration: none;
      
    }
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  text-decoration: none;
  
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}


/*********  DASHBOARD ***************/

#leftCol {
    position: absolute;
    width: 250px;
    margin-top: 80px;
    background-color: $darker-grey; 
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    border:gray;
    border-style: solid;
    border-width: 1px;
    height:100%;


}

.channel-form-container {
  height:100px;
  background-color: $darker-grey;
}

.channel-form {
  margin-top:35px;
  width:100%;
  height:35px;
  background: white;
  margin-bottom:0px;
  font-size: 15px;
  .plus-button {
    width:35px;
    height:35px;
    margin-top:-5px;
    float:left;
    text-align:center;
    text-decoration: none;
    color:gray;
    font-weight: bold;
    font-size: 30px;
    font-family: "Lucida Grande", sans-serif;
    border: none;
    background: transparent;

  }
}

.channel-textfield {
  margin-left:0px;
  width:215px;
  height:35px;
  border: 0px;
  float:right;
  margin-top:-31px;
  background: transparent;
  font-size: 15px;
  font-family: "Lucida Grande", sans-serif;

}

.channel-textfield:focus {
  outline:none;
}

.channel-card-container {
  width:100%;
  margin-top:-25px;
  overflow-y: scroll;
  .channel-card {
    background-color: $special-grey;
    height:70px;
    width:100%;
    border: 1px solid gray;
    font-family: DIN;
    color:$teal;
    font-size: 38px;
    height: 70px;
    line-height: 70px;


  }
  
}

.delete-button {
  background-color: transparent;
    height:70px;
    width:25%;
    border-style: none;
    border-bottom: 1px solid gray;
    font-family: DIN;
    color:white;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    display: block;
    float: left;  
    z-index: 3;
    position: relative; /*newly added*/
    top: -70px;/*newly added*/
    margin-bottom:-70px;
    

}

.channel-card:hover{
  background-color:$darker-grey;
  display:block;
}

#selected-channel{
  color:$special-pink;
}


#content {
    position: relative;            
    margin-left: 250px;
    margin-top: 80px;
    height:100%;
    top: 0;
    bottom: 0;
    background-color: $darker-grey;
    top:0;
    bottom:0;
    overflow:hidden;
    border-top: 1px solid gray;

}

.gif-title {
    color:white;
    font-family: 'DIN';
    text-align: center;
    background-color: black;
    margin:0;
    padding-top:20px;
}

.video-frame {
  background-color:black;
  padding-bottom:20px;
}

.center-content {
  width:600px;
  max-width:100%;
  margin-left: auto;
  margin-right:auto;
  padding-top:35px;
  overflow:hidden;
  height:100%;
}

.button-container {
  width:100%;
  height:50px;
  margin-top:0px;
  display:inline-block;
  margin-bottom:20px;
}

.response-button {
    background-color: $special-grey;
    border: 1px solid gray;
    height: 100%;
    width:50%;
    font-family: DIN;
    color:$teal;
    font-size: 38px;
    height: 70px;
    line-height: 70px;
    margin: 0;
  }

.response-button:hover {
  background-color:$darker-grey;
}

#NO {
  float:left;
  color:$special-pink;
}

.gif-info-container {
  width:100%;
  height:200px;
  margin-top:20px;
  background-color: $special-grey;
  border: 1px solid gray;
  padding-top:20px;
  text-align: center;
  h3 {
    margin-top:-5px;
    color:$teal;
  }
  p {
    color:$light-gray;
  }
  #gif-link {
    color:white;
    font-weight: bold;
  }
  
}

#gif-info-content{
  width:100%;
  text-align: center;
}

.copyright {
  width:100%;
  text-align: center;
  color:white;
  font-size:12px;
}

#extra-links {
  width:100%;
  list-style: none;
  background-color: red;
  a {
    color:$special-grey;
    text-decoration: none;
  }
  li {
    color:white;
    list-style: none;
  }
}

/******* Media Query     *********/

@media screen and (max-width:640px) {
  #background-video {
    display:none;
  }

  .header-content {
    margin-top:50%;
  }
  .header-content h2 {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:12px;
    font-weight: 100;
    padding-top:0px;
    width: 85%;
  }
  .enter-button {
    width:40%;
    margin-left:28%;
  }

  #leftCol {
    display:none;
  }
  #content {
    margin-left:0;
    width:100%;
  }



}





