<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <div class = "left-nav">
          <div id = "kabush-logo"> </div>
        </div>
        <ul class = "right-nav"> 
          <li><%= link_to "REGISTER", "#" %></li>
          <li><%= link_to "SIGNIN", "#" %></li>
        </ul>
      </nav>
    </div>
  </header>